<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573176426541-21fq986r0epqdvg7u3410snils74r4g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573176426541-21fq986r0epqdvg7u3410snils74r4g5</string>
	<key>API_KEY</key>
	<string>AIzaSyBOi2162iyQ0o1YS2WtuswOAxFJ2FaXRRE</string>
	<key>GCM_SENDER_ID</key>
	<string>573176426541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zerostage.vocabBlast</string>
	<key>PROJECT_ID</key>
	<string>vocab-blast</string>
	<key>STORAGE_BUCKET</key>
	<string>vocab-blast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573176426541:ios:a3cb55973c64b43f1fc8a4</string>
</dict>
</plist>